## mako
<%page expression_filter="h"/>
<%!
  from datetime import datetime
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>
<!-- NEW IN INDIGO update footer -->
% if uses_bootstrap:
<div class="wrapper wrapper-footer">
  <footer id="footer" class="tutor-container"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
  <div class="footer-top">
    <div class="powered-area">
      ## Please leave this link and use one of the logos provided
      ## The OpenEdX link may be hidden when this view is served
      ## through an API to partner sites (such as marketing sites or blogs),
      ## which are not technically powered by OpenEdX.
      % if not hide_openedx_link:
      <ul class="logo-list">
        <li>Powered by:</li>
        <li>
          <a href="https://docs.tutor.edly.io" rel="noopener" target="_blank">
            <img src="${static.url('images/tutor-logo.png')}" alt="Runs on Tutor" width="80" />
          </a>
        </li>
        <li>
          <a href="${footer['openedx_link']['url']}" rel="noopener" target="_blank">
            <img src="${static.url('images/openedx-logo.png')}" alt="${footer['openedx_link']['title']}" width="79" />
          </a>
        </li>
      </ul>
    </div>
    {% if INDIGO_FOOTER_NAV_LINKS %}
    <nav class="nav-colophon" aria-label="${_('About')}">
      <ol>
          {% for link in INDIGO_FOOTER_NAV_LINKS %}
          <li>
            <a href="{{ link['url'] }}">{{ link['title'] }}</a>
          </li>
          {% endfor %}
      </ol>
    </nav>
    {% endif %}
  </div>
  <span class="copyright-site">Copyrights ©ALLO LES AMIS. All Rights Reserved.</span>
  % endif
    <div class="colophon">

      % if context.get('include_language_selector', footer_language_selector_is_enabled()):
          <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
      % endif

      ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <p class="copyright">${footer['copyright']}
            % if icp_license_info.get('icp_license'):
              ${u" | {text}".format(text=icp_license_info.get('text'))}
              <a href="${icp_license_info.get('icp_license_link', '#')}">
                  ${u" {icp}".format(icp=icp_license_info.get('icp_license'))}
              </a>
            % endif
        </p>
    </div>
  </footer>
</div>
% else:
<!-- NEW IN INDIGO update footer -->
<footer class="footer">
  <div class='plugins'></div>
  <div class='container'>
    <ul class="footer__nav fll ul-reset">
      <li class="footer__list-item">
        <a href="${'https://docs.alliancecan.ca/wiki/Technical_documentation/fr' if LANGUAGE_CODE.startswith('fr') else 'https://docs.alliancecan.ca/wiki/Technical_documentation'}" target='_blank' class="footer__link" data-i18n="wiki" >WIKI TECHNIQUE</a>
      </li>
      <li class="footer__list-item">
        <a href='https://status.alliancecan.ca' target='_blank' class="footer__link" data-i18n="serverstatus">ÉTAT DES SERVEURS</a>
      </li>
      <li class="footer__list-item">
        <a href="${'https://www.calculquebec.ca/salles-de-presses/infolettres/' if LANGUAGE_CODE.startswith('fr') else 'https://www.calculquebec.ca/en/pressroom/subscribe-to-our-newsletter/'}" target='_blank' class="footer__link" data-i18n="bulletins">BULLETINS D'INFORMATION</a>
      </li>
      <li class="footer__list-item">
        <a href="mailto:formation@calculquebec.ca" target='_blank' class="footer__link" data-i18n="contact">NOUS CONTACTER</a>
      </li>
    </ul>
  </div>
</footer>
<div class='post-footer'>
  <div class="post-footer-wrapper">
    <a href={langIsFrench() ? 'https://www.alliancecan.ca//fr/' : 'https://www.alliancecan.ca//' } target='_blank'>
      <img src="https://www.calculquebec.ca/wp-content/uploads/2022/04/Alliance_partner_logo_Regional-French-first.svg" alt="Partenaire de l'Alliance" />
    </a>
    <a href="https://www.quebec.ca" target="_blank">
      <img src="https://www.calculquebec.ca/wp-content/themes/calcul_quebec/assets/img/logo-quebec.png" alt="Gouvernement du Québec" />
    </a>
    <a href="https://frq.gouv.qc.ca/" target="_blank">
      <img src="https://www.calculquebec.ca/wp-content/themes/calcul_quebec/assets/img/fond_de_recherche_du_quebec.png" alt="Fonds de recherche du Québec" />
    </a>
  </div>
</div>
<div class='line'></div>
<div class='bottom'>
  <p class='desktop'>&copy; Calcul Québec 2026</p>
  <ul class='bottom-links'>
    <li>
      <a href="${'https://www.calculquebec.ca/wp-content/uploads/2024/08/conditions-utilisation.pdf' if LANGUAGE_CODE.startswith('fr') else 'https://www.calculquebec.ca/wp-content/uploads/2024/08/terms-of-use.pdf'}" target='_blank' data-i18n="terms">Conditions d'utilisation</a>
    </li>
    <li>
      <a href="${'https://www.calculquebec.ca/a-propos/politiques-et-publications/' if LANGUAGE_CODE.startswith('fr') else 'https://www.calculquebec.ca/en/about-us/policies-and-publications/'}" target='_blank' data-i18n="policies">Politiques et publications</a>
    </li>
  </ul>
  <ul class='logo-list'>
    <li class='powered' data-i18n="poweredBy">Propulsé par</li>
    <li>
      <a href='https://docs.tutor.edly.io' rel='noopener' target='_blank'>
        <img src='https://repository-images.githubusercontent.com/96100263/4f41d9c4-98d1-4934-a681-47b4f0917f78' alt='Runs on Tutor' width='57'/>
      </a>
    </li>
    <li class='vertical-line'></li>
    <li class='openedx'>
      <a href='https://openedx.org/' rel='noopener' target='_blank'>
        <img src='https://logos.openedx.org/edx-openedx-logo-tag.png' alt='Open edX'} width='110' />
      </a>
    </li>
  </ul>
  <p class='mobile'>&copy; Calcul Québec 2026</p>
</div>
  <script>
    const getLanguage = () => {
        const languageCookie = document.cookie
            .split("; ")
            .find((cookie) => cookie.startsWith("openedx-language-preference="));

        const languageFromCookie = languageCookie
            ? languageCookie.split("=")[1]
            : "fr-ca";

        if (languageFromCookie === "fr" || languageFromCookie === "fr-ca") {
            return "fr-ca";
        } else {
            return "en";
        }
    };

    const langIsFrench = () => {
        return language === "fr-ca" || language === "fr";
    };

    const languages = {
	  "fr-ca": {
	    help: "Aide",
	    contact: "NOUS CONTACTER",
	    about: "À propos",
	    terms: "Conditions d'utilisation",
	    policies: "Politiques et publications",
	    poweredBy: "Propulsé par",
	    wiki: "WIKI TECHNIQUE",
	    serverstatus: "ETAT DES SERVEURS",
	    bulletins: "BULLETINS D'INFORMATION",
	  },
	  en: {
	    help: "Help",
	    contact: "CONTACT US",
	    about: "About",
	    terms: "Terms of use",
	    policies: "Policies and publications",
	    poweredBy: "Powered by",
	    wiki: 'TECHNICAL WIKI',
	    serverstatus: "SERVER STATUS",
	    bulletins: "SUBSCRIBE TO OUR NEWSLETTERS",
	  },
    };

  document.addEventListener('DOMContentLoaded', function() {
    const language = getLanguage();
    const elementsToTranslate = document.querySelectorAll("[data-i18n]");
    elementsToTranslate.forEach((element) => {
      const key = element.getAttribute("data-i18n");
      if (languages[language] && languages[language][key]) {
        element.textContent = languages[language][key];
      }
    });
  });

  
</script>
</footer>

% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
