// Variables
$primary-color: #052147;
$secondary-color: #013d5b;
$white: white;
$hover-color: #72aee0;

// Hide default footer
.wrapper-footer {
  display: none !important;
}

.container>div {
  border: none !important;
  box-shadow: none !important;
}

// Custom footer
.footer {
  background: $white;
  color: $primary-color;
  padding: 32px 16px;
  margin-top: 300px;

  // Top section
  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    &-links {
      display: flex;
      flex-direction: row;
      gap: 40px;
      margin-right: 50px;
      margin-top: 0;

      li {
        list-style: none;
      }

      a {
        text-decoration: none;
        color: $primary-color;
        font-size: 14px;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Divider
  .line {
    width: 100%;
    height: 1px;
    background-color: $secondary-color;
    opacity: 0.16;
  }

  // Bottom section
  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    font-size: 12px;
    font-weight: 400;

    &-links {
      display: flex;
      flex-direction: row;
      gap: 40px;
      height: 100%;

      li {
        list-style: none;
      }

      a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Logo section
  .logo-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    li {
      list-style: none;
    }

    .powered {
      transform: translateY(-2px);
    }

    .vertical-line {
      width: 1px;
      height: 12px;
      background-color: $primary-color;
      opacity: 0.8;
      transform: translateY(-2px);
    }

    .openedx {
      margin-left: -16px;
    }
  }

  // Responsive display classes
  .mobile {
    display: none;
  }
}

// Responsive styles
@media (max-width: 1000px) {
  .footer {
    .top {
      flex-direction: column;
      align-items: center;

      &-links {
        margin: 16px 0 0;
        padding: 0;
      }
    }

    .bottom {
      flex-direction: column;
      align-items: center;
      text-align: center;

      &-links {
        margin: 16px 0 0;
        padding: 0;
      }
    }

    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }
  }
}

// Dark theme styles
body.indigo-dark-theme {
  .top img {
    filter: brightness(0) invert(1);
    background-color: transparent !important;
  }

  a {
    color: $white !important;
  }

  .footer {
    a:hover {
      text-decoration: underline !important;
      color: $hover-color !important;
    }

    .line,
    .vertical-line {
      background-color: $white !important;
    }
  }
}
